<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    /> -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: *; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net; worker-src 'self' 'unsafe-inline' 'unsafe-eval' data:;"
    />
    <title>HubTools</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
